<style>
  .comment-section{
    background-color: #f7f7f77a;
  }
  .reply-section{
    background-color: #f7f7f77a;
  }
  .comments-show{
    cursor: pointer;
  }
</style>


<div class="comment_count py-4">
  <h4 class="text-dark">{{ comments.count }} Comment{{ comments|pluralize }}</h4>
</div>
{% for comment in comments %}
<div class="row my-3 ">
  <div class="col-md-1">
    <img class="mr-3 rounded-circle mt-2" src="{{ comment.user.userprofile.image.url }}" height="40px" width="40px" alt="">
  </div>
  <div class="col-md-11 comment-section rounded">
    <blockquote class="blockquote pt-1">
      <p class="mb-0">
        {{ comment.content }}
      </p>
      <footer class="blockquote-footer">{{ comment.user.userprofile.full_name }} |
        <cite title="Source Title">{{ comment.timestamp|timesince }} ago | </cite>
        <a class="comments-show text" >{% if comment.children.count %}{{ comment.children.count }}
          Comment{{ comment.children.count|pluralize  }} | {% endif %}
        </a>
        <cite title="Source Title">
          <button class="reply-btn badge badge-info px-2 py-1 border-0" type="submit" name="button">Reply</button>
        </cite>
      </footer>
    </blockquote>
  </div>
</div>

<div class="replied-comments container pl-5" style="display: none;">
  {% for reply in comment.replies.all %}

  <div class="row my-2">
    <div class="col-md-1">
      <img class="mr-3 rounded-circle mt-2" src="{{ reply.user.userprofile.image.url }}" height="35px" width="35px" alt="">
    </div>
    <div class="col-md-11 reply-section rounded">
      <blockquote class="blockquote pt-1">
        <p class="mb-0">
          {{ reply.content }}
        </p>
        <footer class="blockquote-footer">{{ reply.user.userprofile.full_name }} |
          <cite title="Source Title">{{ comment.timestamp|timesince }} ago </cite>
        </footer>
      </blockquote>
    </div>
  </div>

  {% endfor %}

  <form method="POST" class="reply-form pl-5 pt-3" action="{% url 'blog_details' post.id post.slug %}">
    {% csrf_token %}
    <input type="hidden" name="comment_id" value="{{ comment.id }}">
    <div class="form-group">
      {{ comment_form.content }}
    </div>
    {% if request.user.is_authenticated %}
    <button type="submit" class="btn btn-sm btn-info ml-4">Submit</button>
    {% else %}
    <button type="button" class="btn btn-sm btn-info ml-4" data-toggle="modal" data-target="#signup_message">
      Submit
    </button>
    {% endif %}
  </form>

</div>
{% endfor %}

<!-- Comments Form -->
<div class="card my-4">
  <h5 class="card-header">Leave a Comment:</h5>
  <div class="card-body">
    <form method="POST" class="comment-form" action="{% url 'blog_details' post.id post.slug %}">
      {% csrf_token %}
      <div class="form-group">
        {{ comment_form.content }}
      </div>
      {% if request.user.is_authenticated %}
      <button type="submit" class="btn btn-primary ml-4">Submit</button>
      {% else %}
      <button type="button" class="btn btn-primary ml-4" data-toggle="modal" data-target="#signup_message">
        Submit
      </button>
      <div class="modal fade" id="signup_message">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body">
              Only Authenticated User are Comment this Post. <br>
              Sing In on your account. <br>
              or Haven't any account, Create New Account
            </div>
            <div class="modal-footer">
              <a href="{% url 'signin' %}" class="btn btn-outline-info btn-sm rounded-pill">Sign In</a>
              <a href="{% url 'signup' %}" class="btn btn-outline-success btn-sm rounded-pill">Create
                Account</a>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

    </form>
  </div>
</div>